/* GENERAL */
:root {
  /* alt HTML-  farge variable*/
  --primaryColor:green;
  --secondaryColor:yellow;
  --accentColor:purple;
  --haedingColor:orange;
  --texColor: pink;
  --lightBackground:white;
  --darckBackgraund: black;
  /*Størrelse varia<ble*/
--smallSpace: 8px;
--medieSpace: 16px;
--largeSpase: 24px;
gap: 100px;
--fullScreen: 100vh;
/* Font variabler*/
--fontHeading:"Time New Roman";
--fontParagraf: "Verdana";
--fontSize: 18px;
}
body{
  background-color: var(--darckBackgraund);
}

h1,h2,h3,h4{
  color:var(--haedingColor);
}
p,li{
  color:orange;
}
a{
  color:textColor;
}

.fiftyFifty {
  max-width: 50%;
}

.fullScreen {
  min-height: var(--fullScreen);
}
.flexTrueCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
.flexSpacebetween {
  display: flex;
  align-items:center ;
  justify-content: space-between;

}

/* HEADER */
header {/*
  display: flex;
  align-items: center;
  justify-content: space-between;*/
  background-color: var(--primaryColor);
}

.navList {
  /*display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;*/
}

/* MAIN */
.sectionHero {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;*/
}

.heroIntro {
 /* display: flex;
  align-items: center;
  justify-content: center;*/
}

@media (max-width: 426px) {
  img {
    max-width: 100%;
  }

  .heroIntro {
    flex-direction: column;
  }
}

.sectionProjects {
 /* display: flex;
  align-items: center;
  justify-content: center;*/
}

.projectCard {
  border: 2px black solid;
  width: 300px;
}

@media (max-width: 426px) {
  .sectionProjects {
    flex-direction: column;
  }
}

/* FOOTER */
footer{
  background-color: var(--primaryColor);
}
